# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Virtual environment
# =========================
venv/
.env/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Your project-specific
# =========================
data/
output/
results_*.csv